@{
    Layout = "../Shared/_PageMaster.cshtml";
}

@*Desktop banner*@
@if (Model.MainBanner != null)
{
    if (Model.MainBanner.BannerBackgroundImage != null && Model.MainBanner.BannerBackgroundImage.Url != null)
    {
        var styleCss = "background-image:url('" + Model.MainBanner.BannerBackgroundImage.Url + "');";
        var pagelink = Model.MainBanner.CtaPageLink;
        var titleText = Model.MainBanner.BannerAltText;

<div class="col-lg-12 col-md-12 col-sm-12 hidden-xs home-page-top-banner" style="@styleCss" Title="@titleText">
    <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6">
        <h1>@Model.MainBanner.BannerCaption</h1>
        @Html.Raw(Model.MainBanner.CaptionText)
        <div class="pull-right">
            @if (!String.IsNullOrEmpty(Model.MainBanner.CtaButtonText))
            {
            <a href="@pagelink.Url" title="@pagelink.Name" class="btn btn-cta" role="button">
                @Model.MainBanner.CtaButtonText
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
            }
        </div>
    </div>
</div>
<div class="clearfix hidden-xs">&nbsp;</div>
    }
}

@*@*Mobile banner*@
<h2 class="text-center hidden-lg hidden-md hidden-sm">@Model.MobileBanner.BannerCaption</h2>
@if (Model.MobileBanner != null)
{
    if (Model.MobileBanner.BannerBackgroundImage != null && Model.MobileBanner.BannerBackgroundImage.Url != null)
    {
        var styleCss = "background-image:url('" + Model.MobileBanner.BannerBackgroundImage.Url + "');";
        var pagelink = Model.MobileBanner.CtaPageLink;
        var titleText = Model.MobileBanner.BannerAltText;

<div class="col-xs-12 hidden-lg hidden-md hidden-sm home-page-top-banner" style="@styleCss" Title="@titleText">
    @Html.Raw(Model.MobileBanner.CaptionText)
    @if (!String.IsNullOrEmpty(Model.MobileBanner.CtaButtonText))
    {
    <a href="@pagelink.Url" title="@pagelink.Name" class="btn btn-cta center-block" role="button">
        @Model.MobileBanner.CtaButtonText
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
    }
</div>
    }
<div class="clearfix"></div>
}

@*Desktop / Tablet banners*@
@if (Model.SecondaryBanners != null)
{
    var count = 1;
<div class="row hidden-xs">
    @foreach (var banner in Model.SecondaryBanners)
    {
    if (banner.BannerBackgroundImage != null && banner.BannerBackgroundImage.Url != null)
    {
    var styleCss = "background-image:url('" + banner.BannerBackgroundImage.Url + "');";
    var pagelink = Model.MobileBanner.CtaPageLink;
    var titleText = Model.MobileBanner.BannerAltText;

    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
        <div class="col-lg-12 col-md-12 col-sm-12 home-page-sub-banner" style="@styleCss" Title="@banner.BannerAltText">
            <div class="col-lg-offset-7 col-md-offset-5 col-sm-offset-4 pull-right">
                <div class="home-page-sub-banner-text">
                    <h2>@Html.Raw(banner.BannerCaption)</h2>
                    <div class="hidden-sm">@Html.Raw(banner.CaptionTextLgAndMd)</div>
                    <div class="hidden-lg hidden-md">@Html.Raw(banner.CaptionTextSm)</div>
                    <div class="cta-secondary pull-right">
                        @if (!String.IsNullOrEmpty(banner.CtaButtonText))
                        {
                        <a href="@pagelink.Url" title="@pagelink.Name">
                            @banner.CtaButtonText
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (count % 2 == 0)
    {
    <div class="clearfix">&nbsp;</div>
    }
    count++;
    }
    }
</div>
}

@*Mobile banners*@
@if (Model.SecondaryMobileBanners != null)
{
<div class="clearfix visible-xs">&nbsp;</div>
    foreach (var banner in Model.SecondaryMobileBanners)
    {
        if (banner.BannerBackgroundImage != null && banner.BannerBackgroundImage.Url != null)
        {
            var styleCss = "background-image:url('" + banner.BannerBackgroundImage.Url + "');";
            var className = banner.TextToLeft ? "pull-left" : "pull-right";
            var pagelink = Model.MobileBanner.CtaPageLink;

<div class="col-sm-12 hidden-lg hidden-md hidden-sm home-page-sub-banner" style="@styleCss" Title="@banner.BannerAltText">
    <div class="col-xs-6 @className">
        <h2>@Html.Raw(banner.BannerCaption)</h2>
        <div class="cta-secondary">
            @if (!String.IsNullOrEmpty(banner.CtaButtonText))
            {
            <a href="@pagelink.Url" title="@pagelink.Name">
                @banner.CtaButtonText
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
            }
        </div>
    </div>
</div>
<div class="clearfix visible-xs">&nbsp;</div>
        }
    }
}
